<!DOCTYPE html>
<html>
<head>
    <title>PetTest</title>
    <meta charset="utf-8" />
</head>
<body>
    <p><i>/Products</i> – Список всех товаров</p>
    <p><i>/Products/{code}</i> – Конкретный товар</p>
    <p><i>/Orders</i> – Список всех заказанных товаров</p>
    <p><i>/Orders/{code}</i> – Конкретный заказанный товар</p>
    <p><i>/Orders/Create/{code}</i> – Добавить товар в список заказанных</p>
    <p><i>/Orders/Delete</i> – Удалить все товары из списка заказанных</p>
    <p><i>/Orders/Delete/{code}</i> – Удалить конкретный товар из списка заказанных</p>
</body>
</html>